body {
  margin: 0px 300px;
}

* {
  font-family: "Montserrat";
}

header {
  /* vertical-align: middle; */
  /* place-items: center; */
  border-bottom: 3px solid rgb(224, 221, 221);
  vertical-align: middle;
  height: 80px;
  margin: 10px 0px;
  padding-bottom: 20px;
}

#logo {
  display: inline-block;
  height: 80px;
  width: auto;
}

nav {
  display: inline-block;
  /* vertical-align: middle; */
  margin: 0px 100px;
  padding: 20px 0px;
}

a {
  /* display: inline-block; */
  color: rgb(17, 68, 177);
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  /* text-shadow: 0px 2px 0px rgba(192, 134, 134, 0.5) ; */
  /* font-size: 22px; */
  background-color: rgba(218, 130, 15, 0.1);
  /* text-decoration: underline; */
}

p {
}

main {
  /* background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  ); */
}

#eventTitle {
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  color: rgb(17, 68, 177);
  font-size: 50px;
}

#eventDescription {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: rgb(17, 68, 177);
  font: size 10px;
  font-weight: 100;
  line-height: 40px;
  text-align: justify;

  /* font-style: italic; */
}

#hero {
  width: auto;
  height: 400px;
  background-image: url("/images/event-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(50%); */
  vertical-align: middle;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 25px;
  /* font-weight: 900px; */
}

.formInstructions {
  font-size: 16px;
  margin-top: 30px;
  font-weight: bold;
  color: rgb(17, 68, 177);
}

h3 {
  line-height: 50px;
  color: rgb(0, 0, 0);
  text-shadow: 3px 0px 2px rgba(255, 255, 255, 0.5);
  font-weight: bold;

  /* background-color: rgba(0, 0, 0, 0.2);; */
  /* vertical-align: middle; */
  /* margin: 0px 0px 0px 40px; */
  /* padding: 20px; */
}

li {
  font-size: 20px;
  margin: 10px;
}

legend {
  font-size: 15px;
  color: rgb(17, 68, 177);
  font-weight: bold;
}

fieldset {
  margin: 10px 0px 0px 0px;
  /* width: 900px; */
}

.formLabel {
  margin: 10px;
  display: inline-block;
  /* width: 200px; */
}

.formLabel_1 {
  margin: 10px;
  display: inline-block;
  /* width: 200px; */
}

.formLabel_2 {
  margin: 10px;
  display: inline-block;
  /* width: 200px; */
}

.label_1 {
  display: block;
  margin-bottom: 2px;
  /* width: 100px; */
  font-size: 12px;
  /* font-weight: bold; */
  /* color: rgb(17, 68, 177); */
}

.label_2 {
  display: inline-block;
  margin-right: 10px; /* font-size: 10px; */
  font-weight: bold;
  font-size: 15px;
  color: rgb(17, 68, 177);
}

.label_3 {
  display: block;
  margin-bottom: 2px;
  /* width: 100px; */
  font-size: 12px;
  font-weight: bold;
}

.special {
  margin: 10px;
}

#special {
  width: 865px;
  height: 60px;
}

.input {
  /* display: inline-block; */
  width: 250px;
  height: 25px;
  font-size: 14px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#email {
  width: 300px;
}

#telephone {
  /* margin: 15px; */
  /* display: block; */
  width: 200px;
}

#dob {
  width: 150px;
}

#how {
  height: 25px;
  width: 180px;
  border-radius: 5px;
}

.ticket_type {
  display: inline;
  margin: 20px;
  padding: 10px;
}

.actionButtons {
  margin-top: 20px;
  /* display: inline-block; */
  text-align: center;
  /* width: 600px; */
}

#subscribe {
  font-weight: bold;
  font-size: 14px;
}

button {
  margin: 10px;
  width: 100px;
  height: 30px;
}

#footer {
  font-size: small;
  margin-left: 0px;
  padding: 0px;
  border: 0px;
  line-height: 25px;
  color: rgb(17, 68, 177);
}

#contact {
  margin: 50px 0px 0px 0px;
  font-size: medium;
  font-weight: bold;
  border-top: 3px solid rgb(224, 221, 221);
  padding-top: 10px;
}
